.container
  .row
    = f.label :album_name
    = f.text_field :album_name
    %br
    = f.label :name
    = f.text_field :name
    %br
    = f.label "Photo"
    = f.file_field :image 
    %br
    = f.label :description
    = f.text_field :description
    %br
    = f.label :datetime
    = f.date_field :datetime
    %br
    = f.label :person
    = f.text_field :person
    %br
    %br
